*{
    overflow: none;
}

body {
    background-image: url('../thumbnails/sunny.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
}

html {
    height: 100%;
}

#city, #temp, #weather {
    display: block;
    width: 80%;
    text-align: center;
    color:rgb(255, 255, 255);
    margin-left: 10%;
    margin-right: 10%;
    line-height: 0.3em;
    font-weight: normal;
    font-family: system-ui;
}

.search-button {
    margin-top: 11%;
    margin-left: 1%;
    vertical-align: top;
    display: inline;
    width: 10%;
    height: 10%;
    border: none;
    border-radius: 20px 20px 20px 20px;
    background: none;
    cursor: pointer;
    position: absolute;
    left: 10%;
}

#search-city {
    margin-top: 10%;
    margin-left: 10%;
    background-color: rgba(82, 80, 80, 0.9);
    border-color: rgb(110, 121, 156);
    border-style: none;
    border-radius: 10px;
    color:rgba(123, 123, 123, 0.9);
    text-indent: 15%;
    width: 80%;
    height: 30px;            
    font-size: 20px;
    display: inline;
    vertical-align: top;
    margin-bottom: 10px;
    box-sizing:border-box;
}

.weather-preview {
    width: 20%;
    margin-left: 7%;
    margin-top: 12.5%;
    background-color: rgba(40, 68, 68, .8);
    border-radius: 10px;
    display: inline-block;
    position:absolute;
}

#city-list {
    color: rgb(255, 255, 255);
    background-color: rgba(40, 68, 68, .8);
    border-radius: 5px;
    width: 33%;
    display: inline-block;
    font-family: system-ui;
}

.special-button {
    background-color: rgb(255, 255, 255, 0.9);
    border-color: rgb(110, 121, 156);
    border-style: solid;
    border-width: 1px;
    color: rgb(55, 134, 199);
    height: 25px;
    width: 50px;
    border-radius: 5px;
    cursor: pointer;
    font-family: system-ui;
    margin-top: 1px;
    transition: background-color 0.15s,
    color 0.15s;
}

.special-button:hover {
    background-color:rgb(55, 134, 199);
    color: white;
}

.special-button:active {
    opacity: 0.7;
}